{% extends "base.html" %}
{% block content %}
<div class="card">
  <h1>Add Word (manual)</h1>
  <form method="post">
    <label>Prompt (EN/RU)</label>
    <input name="prompt" required>
    <label>Answer (KAZ)</label>
    <input name="answer" required>

    <label>Level</label>
    <select name="level">
      {% for lvl in levels %}
        <option value="{{ lvl }}">{{ lvl }}</option>
      {% endfor %}
    </select>

    <button class="btn" type="submit">Save</button>
  </form>
</div>
{% endblock %}
